.containter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem;
}

.title {
  margin: 0.5rem;
  font-size: 24;
  font-weight: 500;
  width: 100%;
}
