.section {
  width: 100%;
}

.section h2 {
  font-size: 28;
  margin: 1.5rem 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.container h2 {
  width: 100%;
}

