.section {
  width: 100%;
}

.section h2 {
  font-size: 28;
  margin: 1.5rem 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
  background-color: "#fff";
}

.container h2 {
  width: 100%;
}

.graphContainer {
  width: 100%;
  flex-grow: 1;
  margin: 0.5rem;
  background-color: #fff;
  padding: 0.2rem;
  border-radius: 8px;
  border: 1px solid #37005b;
}

.graphContainer h3 {
  font-size: 18px;
  padding: 1rem 1.5rem;
}
