.main {
  background-color: #fff;
  padding-top: 4vh;
}

.container {
  background-color: #f8f3ff;
  display: flex;
  height: 96vh;
  border-radius: 28 28 0 0;
  justify-content: center;
  padding-top: 16vh;
  text-align: center;
}

.image {
  width: 80%;
  height: auto;
}

.container h1 {
  font-size: 42;
  font-weight: 500;
  padding: 3rem 0 2rem 0;
}

.container p {
  font-size: 20;
  max-width: 40vw;
  text-align: left;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem;
}

.buttonMain {
  background-color: #6918d7;
  color: #fff;
  padding: 1rem 1rem;
  border-radius: 8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  width: 300px;
}

.buttonMain:hover {
  background-color: #5a13b4;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.buttonWhite {
  background-color: #ffffff;
  color: #000000;
  padding: 1rem 1rem;
  border-radius: 8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  width: 300px;
}

.buttonWhite:hover {
  background-color: #fcf9ff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}
