.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  border-radius: 8;
  margin: 0.5rem;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: 1px solid;
  border-color: #3b2b46;
}

.container h3 {
  font-size: 18;
  width: 100%;
}

.engagementContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
}

.container p {
  text-align: center;
  color: #686666;
}
